* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  position: absolute;
  width: 5px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(130, 130, 130);
  border-radius: 10px;
}
html {
  position: relative;
  font-family: "Oswald";
}
hr {
  margin: 10px 0;
  height: 2px;
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #ececec;
  overflow-anchor: none;
  scroll-behavior: smooth;
}
